/* Estilo para todo el body: fuente de letra y color */

body {
    font-family: 'Lato', sans-serif;
    color: white;
    background-color: black;
}

/* Estilo y tamaño para la marca del Nav */
.brand_menu {
    margin: 0;
    padding: 0;
    border: 0;
}

.text_brand {
    font-size: 40px;
}

.icon_brand {
    max-width: 30px;
}



/* Estilo sección ¿Quiénes somos? */
.sec_somos h1 {
    font-size: xx-large;

}

.divisor {
    background-color: #17A3B8;
}

.icon_sec_somos {
    background-color: #17A3B8;
    padding: 5px;
    margin: 5px 0;
}

.texto_parrafo {
    text-align: left;
}

/* Sección destacados */
.card_destacados {
    background-color: #17A3B8;
    text-align: left;
}

.img_card {
    height: 10rem;
}

/* Estilo del footer */
.footer_pagina {
    background-color: #17A3B8;
}

.brand_footer,
.icon_footer {
    display: inline-block;


}

.brand_footer {
    font-size: x-large;
    margin-bottom: 0;
}


